@using Hourly.Components
@using Microsoft.AspNetCore.Components.Web
@inherits TablePageBase

@if (this.ViewModel.User == null)
{
    <p>Loading...</p>
    <progress />
}
else
{
    <p>Hours for @this.ViewModel.User.Name@(this.ViewModel.Admin ? " (admin)" : "")</p>

    if (!this.ViewModel.Admin)
    {
        <p><button style="width:20em; height:10em" @onclick="this.PunchClock">Punch Clock</button></p>
    }

    <PayPeriodSelector ViewModel="@this.ViewModel" />
    <TimeChart ViewModel="@this.ViewModel" />
}
