@using Hourly.Data;
@using Hourly.Utility;
@using Microsoft.AspNetCore.Components.Web

<table>
    <tr>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
        <th>Notes</th>
    </tr>

    @if (this.CancelSource != null)
    {
        <tr>
            <td colspan="4">Loading...</td>
        </tr>
    }
    else if (this.PayPeriod != null)
    {
        @foreach (Day day in this.PayPeriod.Days)
        {
            <tr>
                <td>@day.DayLocal.DayToWeekdayDisplayString()</td>
                <td>...</td>
                <td>...</td>
                <td></td>
            </tr>
        }
    }
</table>